<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Learn Angular Js</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>
<div class="container">
	<div class="col-md-6" ng-app="myShoppingList" ng-cloak ng-controller="myCtrl">
		<div class="panel panel-primary">
		  <div class="panel-heading"><center>My Shopping List</center></div>
		  <div class="panel-body" ng-repeat="x in products">
		  	{{x}}<span class="pull-right" ng-click="removeItem($index)" style="cursor:pointer">x</span>
		  </div>
		  <div class="panel-footer">
		  	<div class="input-group">  
		      <input type="text" class="form-control" placeholder="Add Shopping Item here" ng-model="addMe">
		      <span class="input-group-btn">
		        <button class="btn btn-success" type="button" ng-click="addItem()">Add</button>
		      </span>
		    </div><!-- /input-group -->
		    <p class="red">{{errortext}}</p>
		  </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var app = angular.module("myShoppingList",[]);
	app.controller("myCtrl" , function($scope) {
		$scope.products = ["Milk","Bread","Cheese"];
		$scope.addItem = function() {
			$scope.errortext = "";
			if(!$scope.addMe){
				return ;
			}
			if($scope.products.indexOf($scope.addMe) == -1){
				$scope.products.push($scope.addMe);
			} else {
				$scope.errortext = "The item is already in your Shopping list.";
			}
		}

		$scope.removeItem = function(x){
			$scope.errortext = "";
			$scope.products.splice(x,1);
		}
	});
</script>
	
</body>
</html>